div.form1 {
    min-height: 30px;
    border: 2px solid red;
}

div.form1 h3{
    margin-top: -30px;
    width:100px;
    text-align: center;
    border: 2px solid brown;
    border-radius: 25%;
    background-color: blanchedalmond;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3); 
    /* text-decoration: underline; */
}

div.form1 ol {
    display: inline-block;
    padding: 20px 0px 0px 20px;
    margin-top: 20px;
    background-color: blanchedalmond;
    border: 1px ridge grey;
    border-radius: 5%;
}

div.form1 li {
    padding-bottom: 15px;
    
    /* background-color: burlywood;
    border: 2px solid palevioletred;
    border-radius: 5%; */
}

div.form1 ol.questSets{
    margin: 20px;
}

/* div.form1 ol.quest{
    
} */

/* ol.questset li {
    display: block;
}

ol.quest li{
    display: block;
}

ol.objectivelist li{
    display: block;
} */